### Question 1
Write Python code which does the following  
a. Creates a new database called census.db

In [34]:
# importing the sqlite library
import sqlite3
# creating connector object
# this will either create a new data base or connect to the existing one 
conn = sqlite3.connect('Database/census.db')

b. Makes a database table called Density that will hold the name of the
province or territory (TEXT), the population (INTEGER), and the land area
(REAL)

In [35]:
try:
    # creating a table and creating a cursor
    conn.execute('create table density (territory TEXT, population INTEGER, land_area REAL)')
except:
    # an error will be generated if the table is already there
    print('table already exists')
cur = conn.cursor()

c. Inserts the data from Table 32, 2001 Canadian Census Data, on page 361

In [36]:
# insert all the rows into the table
cur.execute('insert into density(territory, population, land_area) values ("Newfoundland and Labrador",512930,370501.69)')
cur.execute('insert into density(territory, population, land_area) values ("Prince Edward Island",135294,5684.39)')
cur.execute('insert into density(territory, population, land_area) values ("Nova Scotia",908007,52917.43)')
cur.execute('insert into density(territory, population, land_area) values ("New Brunswick",729498,71355.67)')
cur.execute('insert into density(territory, population, land_area) values ("Quebec",7237479,1357743.08)')
cur.execute('insert into density(territory, population, land_area) values ("Ontario",11410046,907655.59)')
cur.execute('insert into density(territory, population, land_area) values ("Manitoba",1119583,551937.87)')
cur.execute('insert into density(territory, population, land_area) values ("Saskatchewan",978933,586561.35)')
cur.execute('insert into density(territory, population, land_area) values ("Alberta",2974807,639987.12)')
cur.execute('insert into density(territory, population, land_area) values ("British Columbia",3907738,926492.48)')
cur.execute('insert into density(territory, population, land_area) values ("Yukon Territory",28674,474706.97)')
cur.execute('insert into density(territory, population, land_area) values ("Northwest Territories",37360,1141108.37)')
cur.execute('insert into density(territory, population, land_area) values ("Nunavut",26745,1925460.18)')
conn.commit()

d. Retrieves the contents of the table

In [37]:
cur.execute('select * from density')
rows = cur.fetchall()
for i in rows:
    print(i[0],i[1],i[2])

Newfoundland and Labrador 512930 370501.69
Prince Edward Island 135294 5684.39
Nova Scotia 908007 52917.43
New Brunswick 729498 71355.67
Quebec 7237479 1357743.08
Ontario 11410046 907655.59
Manitoba 1119583 551937.87
Saskatchewan 978933 586561.35
Alberta 2974807 639987.12
British Columbia 3907738 926492.48
Yukon Territory 28674 474706.97
Northwest Territories 37360 1141108.37
Nunavut 26745 1925460.18

e. Retrieves the populations

In [38]:
cur.execute('select population from density')
rows = cur.fetchall()
for i in rows:
    print(i[0])

512930
135294
908007
729498
7237479
11410046
1119583
978933
2974807
3907738
28674
37360
26745

f. Retrieves the provinces that have populations of less than one million

In [39]:
cur.execute('select territory from density where population<1000000')
rows = cur.fetchall()
for i in rows:
    print(i[0])

Newfoundland and Labrador
Prince Edward Island
Nova Scotia
New Brunswick
Saskatchewan
Yukon Territory
Northwest Territories
Nunavut

g. Retrieves the provinces that have populations of less than one million
or greater than five million

In [40]:
cur.execute('select territory from density where population<1000000 or population>5000000')
rows = cur.fetchall()
for i in rows:
    print(i[0])

Newfoundland and Labrador
Prince Edward Island
Nova Scotia
New Brunswick
Quebec
Ontario
Saskatchewan
Yukon Territory
Northwest Territories
Nunavut

h. Retrieves the provinces that do not have populations of less than one
million or greater than five million

In [41]:
cur.execute('select territory from density where not (population<1000000 or population>5000000)')
rows = cur.fetchall()
for i in rows:
    print(i[0])

Manitoba
Alberta
British Columbia

i. Retrieves the populations of provinces that have a land area greater
than 200,000 square kilometers

In [42]:
cur.execute('select population from density where land_area>200000')
rows = cur.fetchall()
for i in rows:
    print(i[0])

512930
7237479
11410046
1119583
978933
2974807
3907738
28674
37360
26745

j. Retrieves the provinces along with their population densities (population divided by land area)

In [43]:
cur.execute('select territory, population/land_area from density')
rows = cur.fetchall()
for i in rows:
    print(i[0],'\t',i[1])

Newfoundland and Labrador 	 1.384420135843375
Prince Edward Island 	 23.8009707286094
Nova Scotia 	 17.15893988048928
New Brunswick 	 10.223406212848959
Quebec 	 5.330521736115201
Ontario 	 12.570898175154742
Manitoba 	 2.0284583842743027
Saskatchewan 	 1.6689353978062142
Alberta 	 4.648229483118348
British Columbia 	 4.217776273802028
Yukon Territory 	 0.060403579075318826
Northwest Territories 	 0.03274009812056676
Nunavut 	 0.013890185981410428

### Question 2

In [44]:
try:
    conn.execute('create table Capitals (territory TEXT, capital TEXT, population INTEGER)') 
except:
    print('table already exists')

In [45]:
cur.execute('insert into Capitals(territory, capital, population) values ("Newfoundland and Labrador","St. John’s",172918)')
cur.execute('insert into Capitals(territory, capital, population) values ("Prince Edward Island","Charlottetown ",58358)')
cur.execute('insert into Capitals(territory, capital, population) values ("Nova Scotia","Halifax",359183)')
cur.execute('insert into Capitals(territory, capital, population) values ("New Brunswick","Fredericton",81346)')
cur.execute('insert into Capitals(territory, capital, population) values ("Quebec","Quebec City",682757)')
cur.execute('insert into Capitals(territory, capital, population) values ("Ontario","Toronto",4682897)')
cur.execute('insert into Capitals(territory, capital, population) values ("Manitoba","Winnipeg",671274)')
cur.execute('insert into Capitals(territory, capital, population) values ("Saskatchewan","Regina",192800)')
cur.execute('insert into Capitals(territory, capital, population) values ("Alberta","Edmonton",937845)')
cur.execute('insert into Capitals(territory, capital, population) values ("British Columbia","Victoria",311902)')
cur.execute('insert into Capitals(territory, capital, population) values ("Yukon Territory","Whitehorse",21405)')
cur.execute('insert into Capitals(territory, capital, population) values ("Northwest Territories","Yellowknife",16541)')
cur.execute('insert into Capitals(territory, capital, population) values ("Nunavut","Iqaluit",5236)')
conn.commit()

a. Retrieve the contents of the table

In [46]:
cur.execute('select * from Capitals')
rows = cur.fetchall()
for i in rows:
    print(i[0],i[1],i[2])

Newfoundland and Labrador St. John’s 172918
Prince Edward Island Charlottetown  58358
Nova Scotia Halifax 359183
New Brunswick Fredericton 81346
Quebec Quebec City 682757
Ontario Toronto 4682897
Manitoba Winnipeg 671274
Saskatchewan Regina 192800
Alberta Edmonton 937845
British Columbia Victoria 311902
Yukon Territory Whitehorse 21405
Northwest Territories Yellowknife 16541
Nunavut Iqaluit 5236

b. Retrieve the populations of the provinces and capitals (in a list of
tuples of the form [province population, capital population])

In [47]:
cur.execute('select territory, population, capital, population from Capitals')
rows = cur.fetchall()
for i in rows:
    print([(i[0],i[1]),(i[2],i[3])])

[('Newfoundland and Labrador', 172918), ('St. John’s', 172918)]
[('Prince Edward Island', 58358), ('Charlottetown ', 58358)]
[('Nova Scotia', 359183), ('Halifax', 359183)]
[('New Brunswick', 81346), ('Fredericton', 81346)]
[('Quebec', 682757), ('Quebec City', 682757)]
[('Ontario', 4682897), ('Toronto', 4682897)]
[('Manitoba', 671274), ('Winnipeg', 671274)]
[('Saskatchewan', 192800), ('Regina', 192800)]
[('Alberta', 937845), ('Edmonton', 937845)]
[('British Columbia', 311902), ('Victoria', 311902)]
[('Yukon Territory', 21405), ('Whitehorse', 21405)]
[('Northwest Territories', 16541), ('Yellowknife', 16541)]
[('Nunavut', 5236), ('Iqaluit', 5236)]

c. Retrieve the land area of the provinces whose capitals have populations
greater than 100,000

In [48]:
cur.execute('select land_area from density join Capitals on density.territory=Capitals.territory where Capitals.population> 100000')
rows = cur.fetchall()
for i in rows:
    print(i[0])

370501.69
52917.43
1357743.08
907655.59
551937.87
586561.35
639987.12
926492.48

d. Retrieve the provinces with land densities less than two people per
square kilometer and capital city populations more than 500,000

In [49]:
cur.execute('select territory, (population/land_area) from density where (population/land_area)<2 and territory =(select territory from Capitals where population>500000)')
rows = cur.fetchall()
for i in rows:
    print(i[0],i[1])

e. Retrieve the total land area of Canada

In [50]:
cur.execute('select sum(land_area) from density')
rows = cur.fetchall()
for i in rows:
    print(i[0])

9012112.19

f. Retrieve the average capital city population

In [51]:
cur.execute('select avg(population) from Capitals')
rows = cur.fetchall()
for i in rows:
    print(i[0])

630343.2307692308

g. Retrieve the lowest capital city population

In [52]:
cur.execute('select min(population) from Capitals')
rows = cur.fetchall()
for i in rows:
    print(i[0])

5236

h. Retrieve the highest province/territory population

In [53]:
cur.execute('select max(population) from density')
rows = cur.fetchall()
for i in rows:
    print(i[0])

11410046

i. Retrieve the provinces that have land densities within 0.5 persons per
square kilometer of on another—have each pair of provinces reported
only once

In [54]:
provinces_list = [] 
cur.execute('select D1.territory, D2.territory from density as D1 join density as D2 where abs(D1.population/D1.land_area - D2.population/D2.land_area) <0.5 and D1.territory != D2.territory')
rows = cur.fetchall()
for i in rows:
    province_tuple = (i[0],i[1])
    if province_tuple not in provinces_list:
        provinces_list.append(province_tuple)
print(provinces_list)

[('Newfoundland and Labrador', 'Saskatchewan'), ('Manitoba', 'Saskatchewan'), ('Saskatchewan', 'Newfoundland and Labrador'), ('Saskatchewan', 'Manitoba'), ('Alberta', 'British Columbia'), ('British Columbia', 'Alberta'), ('Yukon Territory', 'Northwest Territories'), ('Yukon Territory', 'Nunavut'), ('Northwest Territories', 'Yukon Territory'), ('Northwest Territories', 'Nunavut'), ('Nunavut', 'Yukon Territory'), ('Nunavut', 'Northwest Territories')]

In [55]:
conn.close()

### Question 3 
Write a Python program that creates a new database and executes the
following SQL statements. How do the results of the SELECT statements
differ from what you would expect Python itself to do? Why?

In [56]:
conn = sqlite3.connect('Database/Q3.db')
cur = conn.cursor()
cur.execute('create table numbers (val integer)')
cur.execute('insert into numbers values (1)')
cur.execute('insert into numbers values (2)')
conn.commit()

In [57]:
cur.execute('SELECT * FROM Numbers WHERE 1/0')
rows = cur.fetchall()
for i in rows:
    print(i)

In [58]:
cur.execute('SELECT * FROM Numbers WHERE 1/0 AND Val > 0')
rows = cur.fetchall()
for i in rows:
    print(i)

In [59]:
cur.execute('SELECT * FROM Numbers WHERE Val > 0 AND 1/0')
rows = cur.fetchall()
for i in rows:
    print(i)

In [60]:
conn.close()